.buttonElement {
  color: grey;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
}

.buttonElement:hover {
  transition: ease-in-out 0.2s;
  background-color: gainsboro;
  cursor: pointer;
}
