.EditableBlock {
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid transparent;
  outline: none;
  padding: 0.5rem;
  resize: none;
  overflow: hidden;
  min-height: 14px;
  max-height: 100vh;
  width: 50vw;
  font-size: 1rem;
}

.EditableBlock:hover {
  border: 1px solid gainsboro;
  transition: ease-in-out 0.2s;
  cursor: hover;
}
