.EditableBlock {
  background-color: transparent;
  border: 1px solid red;
  outline: none;
  padding: 0.5rem;
  resize: none;
  overflow: hidden;
  min-height: 14px;
  max-height: 100vh;
  width: 50vw;
}

.EditableBlock:hover {
  background-color: #d3d3d3;
  cursor: hover;
}
